{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Lukas' Playground</h1>
    <p class="lead">My space to do what the fuck I want.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sample Project Panel</h2>
        <p>
            Each little project I do is framed in it's own webpage, and showcased in a panel such as this one.
            Link under.
        </p>
        <p><a class="btn btn-default" href="{{ url_for('sample') }}">See?! &raquo;</a></p>
    </div>
</div>

{% endblock %}
