{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1> URL Shortener </h1>
    <p class="lead"> Synopsis: Allows for a URL to be shortened in to a random string or additionally, allows for custom URLs. </p>
</div>

<div class="jumbotron">
    <form method="post">
        <input type="text" name="url" style="border-radius:5px;border:hidden" placeholder="URL"/>
        <input type="text" name="custom" style="border-radius:5px;border:hidden" placeholder="Custom (Optional)" />
        <input type="submit" style="border-radius:15px;" value:"Shorten URL" />
    </form>
</div>


{% endblock %}